## codata-nuppa

Tratamento e limpeza dos dados para o dashboard do Nuppa

### Data Sources
- file1 : Description of where this file came from
'https://www.fatecmogidascruzes.com.br/admin/workGroups/view/NUPPA'

### Changes
- 11-28-2024 : Started project

In [1]:
import pandas as pd
from pathlib import Path
from datetime import datetime

### File Locations

In [2]:
today = datetime.today()
in_file = Path.cwd() / "data" / "raw" / "Tabela NUPPA 90.xlsx"
summary_file = Path.cwd() / "data" / "processed" / f"summary_{in_file.stem}.pkl"

In [3]:
df = pd.read_excel(in_file)

### Column Cleanup

- Remove all leading and trailing spaces
- Rename the columns for consistency.

In [4]:
# https://stackoverflow.com/questions/30763351/removing-space-in-dataframe-python
df.columns = [x.strip() for x in df.columns]

In [5]:
{c: '' for c in df.columns}

{'PRODUTO': '',
 'UNIDADE MEDIDA': '',
 'COMUM': '',
 'MINIMO': '',
 'MAXIMO': '',
 'MEDIA': '',
 'MEDIANA': '',
 'COLETA': ''}

In [6]:
cols_to_rename = {'col1': 'New_Name'}
df.rename(columns=cols_to_rename, inplace=True)
df.columns

Index(['PRODUTO', 'UNIDADE MEDIDA', 'COMUM', 'MINIMO', 'MAXIMO', 'MEDIA',
       'MEDIANA', 'COLETA'],
      dtype='object')

### Clean Up Data Types

In [7]:
df.dtypes

PRODUTO            object
UNIDADE MEDIDA     object
COMUM               int64
MINIMO              int64
MAXIMO              int64
MEDIA             float64
MEDIANA           float64
COLETA            float64
dtype: object

### Data Manipulation

In [8]:
df

,PRODUTO,UNIDADE MEDIDA,COMUM,MINIMO,MAXIMO,MEDIA,MEDIANA,COLETA
0,Acelga,12 unidades,0,42,72,54.00,51.0,NaN
1,Agrião,12 unidades,84,84,96,90.00,90.0,NaN
2,Alface Americana,12 unidades,0,40,60,48.25,46.5,NaN
3,Alface crespa,12 unidades,33,30,60,39.00,33.0,NaN
4,Alface lisa,12 unidades,33,30,60,39.00,33.0,NaN
5,Almeirão,12 unidades,60,60,72,64.50,63.0,NaN
6,Brócolos ninja/japonês,12 unidades,96,96,96,96.00,96.0,NaN
7,Brócolos ramoso,12 unidades,72,72,96,82.50,81.0,NaN
8,Couve-Manteiga,12 unidades,24,24,30,27.00,27.0,NaN
9,Couve-flor,12 unidades,96,84,96,91.50,93.0,NaN
10,Escarola,12 unidades,33,30,96,48.00,33.0,NaN
11,Espinafre,12 unidades,72,72,84,76.50,75.0,NaN
12,Rabanete,12 maços,60,48,72,60.00,60.0,NaN
13,Repolho roxo,12 unidades,0,60,84,73.50,75.0,NaN
14,Repolho Verde,12 unidades,48,48,60,54.00,54.0,NaN
15,Rúcula,12 unidades,54,54,60,55.50,54.0,NaN
16,Cebolinha,"0,5 kg",5,5,5,5.00,5.0,NaN
17,Coentro,2 kg,0,25,40,30.75,29.0,NaN
18,Salsinha,2 kg,25,25,35,28.75,27.5,NaN
19,Aboborá Cabotiá,30 Kg,65,65,65,65.00,65.0,NaN
20,Abobrinha Italiana,17 kg,0,75,90,82.50,82.5,NaN
21,Batata-doce,18 kg,45,45,70,56.25,55.0,NaN
22,Berinjela comum,10 kg,50,40,50,47.50,50.0,NaN
23,Berinjela japonesa,10 kg,0,80,80,80.00,80.0,NaN
24,Beterraba,20 kg,60,50,60,57.50,60.0,NaN
25,Cenoura,18 kg,80,60,80,72.50,75.0,NaN
26,Chuchu,18 kg,70,70,90,77.50,75.0,NaN
27,Jiló,17 kg,60,60,75,65.00,60.0,NaN
28,Mandioca,18 kg,0,75,75,75.00,75.0,NaN
29,Pepino comum,17 kg,0,75,80,77.50,77.5,NaN
30,Pepino japonês,17 kg,0,60,110,86.25,87.5,NaN
31,Pimentão verde,10 kg,0,25,85,45.00,35.0,NaN
32,Quiabo,12 kg,70,70,100,80.00,70.0,NaN
33,Tomate Débora,17 kg,0,65,100,83.75,85.0,NaN
34,Vagem macarrão,17 kg,0,80,150,115.00,115.0,NaN
35,Caqui Fuyu,10 kg,0,0,0,0.00,0.0,NaN
36,Caqui Guimbo,10 kg,0,0,0,0.00,0.0,NaN
37,Caqui Rama Forte,10 kg,0,0,0,0.00,0.0,NaN
38,Goiaba,10 kg,0,0,0,0.00,0.0,NaN
39,Mexerica Polkan,22 kg,0,0,0,0.00,0.0,NaN

In [9]:
df['PRODUTO'] = df['PRODUTO'].str.upper()

In [10]:
df['UNIDADE MEDIDA'] = df['UNIDADE MEDIDA'].str.upper()

In [11]:
df['QTD UNI MED'] = df['UNIDADE MEDIDA'].str.replace(r'[^\d,]', '', regex=True)
df['QTD UNI MED'] = df['QTD UNI MED'].str.replace(',', '.', regex=False)
df['QTD UNI MED'] = df['QTD UNI MED'].astype(float)

In [12]:
df['DESC UNI MED'] = df['UNIDADE MEDIDA'].str.replace(r'[0-9,]', '', regex=True)
df['UNIDADE MEDIDA'] = df['QTD UNI MED'].astype(str) +' '+ df['DESC UNI MED']

In [13]:
df['COLETA'] = pd.to_datetime(df['COLETA'], format='%d/%m/%Y', errors='coerce')
df['COLETA'] = df['COLETA'].dt.strftime('%d/%m/%Y')

In [14]:
# df = df[['PRODUTO', 'UNIDADE MEDIDA', 'COMUM', 'MINIMO', 'MAXIMO', 'MEDIA', 'MEDIANA', 'COLETA', ]]

In [15]:
df = df[['PRODUTO', 'UNIDADE MEDIDA', 'QTD UNI MED', 'DESC UNI MED', 'COMUM', 'MINIMO', 'MAXIMO', 'MEDIA',
       'MEDIANA', 'COLETA', ]]

In [16]:
df.dtypes

PRODUTO            object
UNIDADE MEDIDA     object
QTD UNI MED       float64
DESC UNI MED       object
COMUM               int64
MINIMO              int64
MAXIMO              int64
MEDIA             float64
MEDIANA           float64
COLETA             object
dtype: object

### Save output file into processed directory

Save a file in the processed directory that is cleaned properly. It will be read in and used later for further analysis.

Other options besides pickle include:
- feather
- msgpack
- parquet

In [17]:
df.to_pickle(summary_file)