## codata-nuppa

Tratamento e limpeza dos dados para o dashboard do Nuppa

### Data Sources
- file1 : Description of where this file came from
'https://www.fatecmogidascruzes.com.br/admin/workGroups/view/NUPPA'

### Changes
- 11-28-2024 : Started project

In [35]:
import pandas as pd
from pathlib import Path
from datetime import datetime

### File Locations

In [ ]:
today = datetime.today()
in_file = Path.cwd() / "data" / "raw" / "Tabela NUPPA 80.xlsx"
summary_file = Path.cwd() / "data" / "processed" / f"summary_{in_file.stem}.pkl"

In [37]:
df = pd.read_excel(in_file)

### Column Cleanup

- Remove all leading and trailing spaces
- Rename the columns for consistency.

In [38]:
# https://stackoverflow.com/questions/30763351/removing-space-in-dataframe-python
df.columns = [x.strip() for x in df.columns]

In [39]:
{c: '' for c in df.columns}

{'PRODUTO': '',
 'UNIDADE MEDIDA': '',
 'COMUM': '',
 'MINIMO': '',
 'MAXIMO': '',
 'MEDIA': '',
 'MEDIANA': '',
 'COLETA': ''}

In [40]:
cols_to_rename = {'col1': 'New_Name'}
df.rename(columns=cols_to_rename, inplace=True)
df.columns

Index(['PRODUTO', 'UNIDADE MEDIDA', 'COMUM', 'MINIMO', 'MAXIMO', 'MEDIA',
       'MEDIANA', 'COLETA'],
      dtype='object')

### Clean Up Data Types

In [41]:
df.dtypes

PRODUTO                   object
UNIDADE MEDIDA            object
COMUM                    float64
MINIMO                   float64
MAXIMO                   float64
MEDIA                    float64
MEDIANA                  float64
COLETA            datetime64[ns]
dtype: object

### Data Manipulation

In [42]:
df

,PRODUTO,UNIDADE MEDIDA,COMUM,MINIMO,MAXIMO,MEDIA,MEDIANA,COLETA
0,Acelga,12 unidades,60.0,48.0,60.0,56.000000,60.0,2024-11-22
1,Agrião,12 unidades,NaN,84.0,90.0,87.000000,87.0,2024-11-22
2,Alface Americana,12 unidades,NaN,45.0,60.0,51.000000,48.0,2024-11-22
3,Alface crespa,12 unidades,NaN,30.0,36.0,33.666667,35.0,2024-11-22
4,Alface lisa,12 unidades,NaN,35.0,36.0,35.500000,35.5,2024-11-22
5,Almeirão,12 unidades,NaN,66.0,72.0,69.000000,69.0,2024-11-22
6,Brócolos ninja/japonês,12 unidades,60.0,60.0,78.0,66.000000,60.0,2024-11-22
7,Brócolos ramoso,12 unidades,72.0,72.0,84.0,76.000000,72.0,2024-11-22
8,Couve-Manteiga,12 unidades,24.0,18.0,24.0,22.000000,24.0,2024-11-22
9,Couve-flor,12 unidades,NaN,72.0,84.0,78.000000,78.0,2024-11-22
10,Escarola,12 unidades,NaN,24.0,36.0,31.666667,35.0,2024-11-22
11,Espinafre,12 unidades,NaN,72.0,84.0,78.000000,78.0,2024-11-22
12,Rabanete,12 maços,NaN,60.0,78.0,70.000000,72.0,2024-11-22
13,Repolho roxo,12 unidades,NaN,40.0,72.0,56.000000,56.0,2024-11-22
14,Repolho Verde,12 unidades,30.0,30.0,35.0,31.666667,30.0,2024-11-22
15,Rúcula,12 unidades,54.0,54.0,60.0,56.000000,54.0,2024-11-22
16,Cebolinha,"0,5 kg",5.0,5.0,5.0,5.000000,5.0,2024-11-22
17,Coentro,2 kg,20.0,20.0,20.0,20.000000,20.0,2024-11-22
18,Salsinha,2 kg,30.0,25.0,30.0,28.333333,30.0,2024-11-22
19,Aboborá Cabotiá,30 Kg,80.0,75.0,80.0,78.333333,80.0,2024-11-22
20,Abobrinha Italiana,17 kg,NaN,40.0,80.0,58.333333,57.5,2024-11-22
21,Batata-doce,18 kg,65.0,45.0,70.0,60.000000,65.0,2024-11-22
22,Berinjela comum,10 kg,55.0,50.0,60.0,54.166667,55.0,2024-11-22
23,Berinjela japonesa,10 kg,NaN,90.0,120.0,105.000000,105.0,2024-11-22
24,Beterraba,20 kg,60.0,50.0,65.0,58.333333,60.0,2024-11-22
25,Cenoura,18 kg,50.0,50.0,65.0,56.666667,57.5,2024-11-22
26,Chuchu,18 kg,40.0,35.0,50.0,41.666667,40.0,2024-11-22
27,Jiló,17 kg,110.0,110.0,130.0,118.000000,120.0,2024-11-22
28,Mandioca,18 kg,NaN,70.0,70.0,70.000000,70.0,2024-11-22
29,Pepino comum,17 kg,50.0,40.0,50.0,47.500000,50.0,2024-11-22
30,Pepino japonês,17 kg,60.0,45.0,70.0,58.333333,60.0,2024-11-22
31,Pimentão verde,10 kg,55.0,40.0,55.0,49.166667,50.0,2024-11-22
32,Quiabo,12 kg,170.0,140.0,180.0,163.333333,165.0,2024-11-22
33,Tomate Débora,17 kg,60.0,50.0,90.0,65.833333,62.5,2024-11-22
34,Vagem macarrão,17 kg,50.0,50.0,80.0,58.000000,50.0,2024-11-22
35,Caqui Fuyu,10 kg,NaN,NaN,NaN,NaN,NaN,2024-11-22
36,Caqui Guimbo,10 kg,NaN,NaN,NaN,NaN,NaN,2024-11-22
37,Caqui Rama Forte,10 kg,NaN,NaN,NaN,NaN,NaN,2024-11-22
38,Goiaba,10 kg,NaN,70.0,70.0,70.000000,70.0,2024-11-22
39,Mexerica Polkan,22 kg,NaN,NaN,NaN,NaN,NaN,2024-11-22

In [43]:
df['PRODUTO'] = df['PRODUTO'].str.upper()

In [44]:
df['UNIDADE MEDIDA'] = df['UNIDADE MEDIDA'].str.upper()

In [45]:
df['QTD UNI MED'] = df['UNIDADE MEDIDA'].str.replace(r'[^\d,]', '', regex=True)
df['QTD UNI MED'] = df['QTD UNI MED'].str.replace(',', '.', regex=False)
df['QTD UNI MED'] = df['QTD UNI MED'].astype(float)

In [46]:
df['DESC UNI MED'] = df['UNIDADE MEDIDA'].str.replace(r'[0-9,]', '', regex=True)
df['UNIDADE MEDIDA'] = df['QTD UNI MED'].astype(str) +' '+ df['DESC UNI MED']

In [47]:
df['COLETA'] = pd.to_datetime(df['COLETA'], format='%d/%m/%Y', errors='coerce')
df['COLETA'] = df['COLETA'].dt.strftime('%d/%m/%Y')

In [48]:
# df = df[['PRODUTO', 'UNIDADE MEDIDA', 'COMUM', 'MINIMO', 'MAXIMO', 'MEDIA', 'MEDIANA', 'COLETA', ]]

In [49]:
df = df[['PRODUTO', 'UNIDADE MEDIDA', 'QTD UNI MED', 'DESC UNI MED', 'COMUM', 'MINIMO', 'MAXIMO', 'MEDIA',
       'MEDIANA', 'COLETA', ]]

In [50]:
df.dtypes

PRODUTO            object
UNIDADE MEDIDA     object
QTD UNI MED       float64
DESC UNI MED       object
COMUM             float64
MINIMO            float64
MAXIMO            float64
MEDIA             float64
MEDIANA           float64
COLETA             object
dtype: object

### Save output file into processed directory

Save a file in the processed directory that is cleaned properly. It will be read in and used later for further analysis.

Other options besides pickle include:
- feather
- msgpack
- parquet

In [51]:
df.to_pickle(summary_file)